mixin head(title, desc, keywords)
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

    <meta property="og:type" content="website">
    <meta property="og:title" content="ДПС контроль">
    <meta property="og:description" content="Оперативная помощь на дороге">
    <meta property="og:url" content="https://dpscontrol.ru/index.htm">
    <meta property="og:image" content="https://dpscontrol.ru/assets/img/thumbnail.jpg">
    <meta property="og:locale" content="ru_RU">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://dpscontrol.ru/assets/img/thumbnail.jpg"/>

    meta(name="description" content=`${desc}`)
    meta(name="keywords" content=`${keywords}`)
    title!= title

    link(rel="stylesheet preload prefetch" href="./fonts/Gilroy-Semibold.woff2" as="font" type="font/woff2" crossorigin="anonymous")
    link(rel="stylesheet preload prefetch" href="./fonts/Gilroy-Semibold.woff2" as="font" type="font/woff2" crossorigin="anonymous")
    link(rel="stylesheet preload prefetch" href="./fonts/Gilroy-Regular.woff" as="font" type="font/woff" crossorigin="anonymous")
    link(rel="stylesheet preload prefetch" href="./fonts/Gilroy-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous")

    // link(rel="icon" href="./assets/img/fav.svg" type="image/svg + xml")
    link(rel="stylesheet" href="./css/styles.min.css")

    //Yandex.Metrika counter
    //<script type="text/javascript">
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(82655017, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
      });
    //</script>
    //<noscript><div><img src="https://mc.yandex.ru/watch/82655017" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    // /Yandex.Metrika counter
