-
  const cafes = [
    {text: 'Бензо кафе', url: './assets/img/food5', menus: [
      {url: './assets/img/menu1'},
      {url: './assets/img/menu1'},
      {url: './assets/img/menu1'},
      {url: './assets/img/menu1'},
    ]},
    {text: 'ОП!', url: './assets/img/food1', menus: [
      {url: './assets/img/menu1'},
      {url: './assets/img/menu1'},
    ]},
    /*{text: 'DRAM', url: './assets/img/food2'},
    {text: 'Еда и точка', url: './assets/img/food3'},
    {text: 'Соль и перец', url: './assets/img/food4'}, */
  ];

.foodModal.modal
  .modal__wrapper.foodModal__wrapper
    button.foodModal__close.js-food-modal-close-btn
      svg(width="10" height="11")
        use(xlink:href="#icon-arr_long")
      span Назад
    .foodModal-swiper-container
      .swiper-wrapper

        each cafe in cafes
          .swiper-slide.foodModal__slide
            .foodModal__slide-wrapper
              .foodModal__slide-avatar
                img(src=cafe.url + '@1x.png' srcset=cafe.url + '@2x.png 2x' alt=cafe.text)
              .foodModal__slide-content
                p.cmn__text.cmn__text--bold= cafe.text
                button.js-show-food-menu-btn.foodModal__slide-content-btn.closed
                  span Свернуть меню
                  svg(width="8" height="10")
                    use(xlink:href="#icon-arr")
            .foodMenu
              .foodMenu__container
                each menu in cafe.menus
                  .foodMenu__slide
                    img(src=menu.url + '@1x.jpg' srcset=menu.url + '@2x.jpg 2x')
            

              

